
      #sidebar-menu ul ul a {
        color: #e2e2e2;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        display: block;
        padding: 10px 20px 10px 25px;
      }



      /*calender*/

      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }

      .wrapper {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
      }

      .wrapper header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
      }

      header .icons {
        display: flex;
      }

      header .icons span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        color: #878787;
        text-align: center;
        line-height: 38px;
        font-size: 1.9rem;
        user-select: none;
        border-radius: 50%;
      }

      .icons span:last-child {
        margin-right: -10px;
      }

      header .icons span:hover {
        background: #f2f2f2;
      }

      header .current-date {
        font-size: 1.45rem;
        font-weight: 500;
      }

      .calendar {
        padding: 20px;
      }

      .calendar ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
      }

      .calendar .days {
        margin-bottom: 20px;
      }

      .calendar li {
        color: #333;
        width: calc(100% / 7);
        font-size: 1.07rem;
      }

      .calendar .weeks li {
        font-weight: 500;
        cursor: default;
      }

      .calendar .days li {
        z-index: 1;
        cursor: pointer;
        position: relative;
        margin-top: 30px;
      }

      .days li.inactive {
        color: #aaa;
      }

      .days li.active {
        color: #fff;
      }

      .days li::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        height: 40px;
        width: 40px;
        z-index: -1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      .days li.active::before {
        background: #9B59B6;
      }

      .days li:not(.active):hover::before {
        background: #f2f2f2;
      }
    